<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 45%;
}
.result {
    margin: auto;
    width: 45%;
    border: 1px solid #ccc;
}
.doc {
    margin: auto;
    width: 45;
}
</style>
<head>
    <title>Bike Usage Model</title>
</head>
<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        Temperature:
        <input name="temperature" type="number" required>
        <br>
        <br> Humidity:
        <input name="humidity" type="number" required>
        <br>
        <br> Windspeed:
        <input name="windspeed" type="number" required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="result" align="center">
    {% if result %}
        {% for variable, value in original_input.items() %}
            <b>{{ variable }}</b> : {{ value }}
        {% endfor %}
        <br>
        <br> Predicted number of bikes in use:
           <p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>
<br>
<div class="doc" align="center">
  App by Mathias C. Cronj&auml;ger, 16/2/2020
  <br>
  <br>
  Based on Alexander Robertson's guide
  <br>
  <a href="https://cambridgespark.com/deploying-a-machine-learning-model-to-the-web-2/">
    "Deploying a machine learning model to the web"
  </a>
  <br>
  <br>
  Source code at
  <a href="https://github.com/Cronjaeger/bike-model-cronjager">
    github.com/Cronjaeger/bike-model-cronjager
  </a>
<div>
</html>
